<h1>Get to Know Joel Hilton</h1>

<div>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
</div>
<div>
    <a href="https://baconsale.com/">Baconsale Podcast</a>
</div>
<div>
    <a href="https://baconsale.com/">
        <img src="~/baconsales.jpeg" 
            width="500"
            height="400" />
    </a>
</div>